<div class="container-fluid">

  <div style="height: 250px; overflow: hidden;" >
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M-4.22,83.38 C166.76,-100.16 314.61,269.89 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #25262f;"></path>
    </svg>
  </div>


  <div class="footer" style="background-color: #25262f;">
    <div class="row">
        <div class="offset-sm-1 col-sm-5 col-lg-4">
            <h2 class="display-4 footer-heading">Start Growing<br> with Omnistart<br> by today </h2>
        </div>
        <div class="col-sm-5 col-lg-6 d-flex justify-content-end align-items-center" style="text-align: end;">
            <button class="btn">SUBSCRIBE NOW</button>
        </div>
    </div>
    <hr color="white" width="83%">

    <div class="row">
      <div class="offset-lg-1 col-sm-12 col-md-2">
        <h2>OMNIVEST</h2>
      </div>
      <div class="col-sm-6 col-md-2">
          <ul class="list">
            <li class="mb-3 fontsize12">Media</li>
              <li class="mb-3 fontsize12">Twitter</li>
              <li class="mb-3 fontsize12">Youtube</li>
              <li class="mb-3 fontsize12">Pinterest</li>
              <li class="fontsize12">Github</li>
          </ul>
      </div>



      <div class="col-sm-6 col-md-2">
        <ul class="list">
          <li class="mb-3 fontsize12">About Us</li>
            <li class="mb-3 fontsize12">Terms</li>
            <li class="mb-3 fontsize12">Privacy</li>
            <li class="mb-3 fontsize12">Copyright</li>
            <li class="fontsize12">Contact Us</li>
        </ul>
    </div>




    <div class="col-sm-6 col-md-2">
      <ul class="list">
        <li class="mb-3 fontsize12">Other</li>
          <li class="mb-3 fontsize12">Sitemap</li>
          <li class="mb-3 fontsize12">Blog</li>
          <li class="mb-3 fontsize12">FAQ</li>
      </ul>
  </div>


  <div class="col-sm-6 col-md-2">
    <ul class="list">
      <li class="mb-3 fontsize12">Follow Us</li>
      <i class="fa fa-facebook social" style="padding-left: 15px;" ></i>
      <i class="fa fa-linkedin social" ></i>
      <i class="fa fa-twitter social" ></i>


    </ul>
    <span class="fa fa-facebook-square" color="white" style="width: 50px; height: 50px;"></span>
    <i class="fa fa-facebook-square" aria-hidden="true"  style="width: 50px; height: 50px;"></i>
  </div>

    </div>
  </div>
</div>