<div class="container-fluid" style="margin-top: 500px;">
    <div class="row">
        <div class="offset-1 col-md-8 col-xl-6">
            <h1 class="display-3" id="feature-heading">The Features</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, itaque atque.Omnis, itaque atque.Omnis, itaque atque.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <figure> 
                <img src="../../assets/img/feature.png" alt="feature image" width="100%" height="80%">
            </figure>
        </div>
        <div class="offset-lg-1 col-lg-4 d-flex flex-column justify-content-center">
            <h2 class="features-subheading display-6">Invest easily and</h2>
            <h2 class="features-subheading display-6">safely from home</h2>
            <p class="my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere minima, reiciendis illo mollitia dolores cum pariatur odio porro repudiandae dicta tempora quibusdam. Perferendis, similique blanditiis?</p>
            <button class="btn btn-light btn-lg shadow mt-1">LEARN MORE --></button>
        </div>
    </div>


    <div class="row my-4">
       
        <div class="offset-lg-1 col-lg-4 d-flex flex-column justify-content-center">
            <h2 class="features-subheading display-6">Make your future</h2>
            <h2 class="features-subheading display-6">become brighter</h2>
            <p class="my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere minima, reiciendis illo mollitia dolores cum pariatur odio porro repudiandae dicta tempora quibusdam. Perferendis, similique blanditiis?</p>
            <button class="btn btn-light btn-lg shadow mt-1">LEARN MORE --></button>
        </div>
        <div class="offset-lg-1 col-lg-6">
            <figure> 
                <img src="../../assets/img/feature.png" alt="feature image" width="100%" height="80%">
            </figure>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-6">
            <figure> 
                <img src="../../assets/img/feature.png" alt="feature image" width="100%" height="80%">
            </figure>
        </div>
        <div class="offset-lg-1 col-lg-4 d-flex flex-column justify-content-center">
            <h2 class="features-subheading display-6">Be a great Investor</h2>
            <h2 class="features-subheading display-6">on agriculture sector</h2>
            <p class="my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere minima, reiciendis illo mollitia dolores cum pariatur odio porro repudiandae dicta tempora quibusdam. Perferendis, similique blanditiis?</p>
            <button class="btn btn-light btn-lg shadow mt-1">LEARN MORE --></button>
        </div>
    </div>
</div>