<div class="container-fluid" style="margin-top: 500px;">

    <div class="row" style="margin-bottom: 5rem;">
        <div class="offset-1 col-md-8 col-xl-6 heading">
            <h2 class="display-3" id="feature-heading">The Features</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, itaque atque.Omnis, itaque atque.Omnis, itaque atque.</p>
        </div>
    </div>



    <div class="row my-sm-4">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <figure> 
                <img class="img-fluid" src="../../assets/img/feature.png" alt="feature image" width="600" height="500">
            </figure>
        </div>
        <div class="col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-start center">
            <div class="header">
                <i class="fa fa-dollar shadow mb-4 feature"></i>
                <h2 class="features-subheading display-6">Invest easily and<br>safely from home</h2>
            </div>
            <p class="my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere minima, reiciendis illo mollitia dolores cum pariatur odio porro repudiandae dicta tempora quibusdam. Perferendis, similique blanditiis?</p>
            <button class="btn btn-light btn-lg shadow mt-1">LEARN MORE <i class="	fa fa-long-arrow-right"></i></button>
        </div>
    </div>






    <div class="row d-md-none my-5">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <figure> 
                <img class="img-fluid" src="../../assets/img/feature.png" alt="feature image" width="600" height="500">
            </figure>
        </div>
        <div class="col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-start center">
            <div class="header">
                <i class="fa fa-sun-o shadow mb-4 feature"></i>
                <h2 class="features-subheading display-6">Make your future<br>become brighter</h2>
            </div>
            <p class="my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere minima, reiciendis illo mollitia dolores cum pariatur odio porro repudiandae dicta tempora quibusdam. Perferendis, similique blanditiis?</p>
            <button class="btn btn-light btn-lg shadow mt-1">LEARN MORE <i class="	fa fa-long-arrow-right"></i></button>
        </div>
    </div>






    <div class="row my-5 d-none d-md-flex">
       
        <div class="col-md-6 offset-lg-2 col-lg-4 d-flex flex-column justify-content-center align-items-start">
            <i class="fa fa-sun-o shadow mb-4 feature py-3"></i>
            <h2 class="features-subheading display-6">Make your future<br>become brighterrrrr</h2>
            <p class="my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere minima, reiciendis illo mollitia dolores cum pariatur odio porro repudiandae dicta tempora quibusdam. Perferendis, similique blanditiis?</p>
            <button class="btn btn-light btn-lg shadow mt-1">LEARN MORE <i class="	fa fa-long-arrow-right"></i></button>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <figure> 
                <img class="img-fluid" src="../../assets/img/feature.png" alt="feature image" width="600" height="500">
            </figure>
        </div>
    </div>








    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <figure> 
                <img class="img-fluid" src="../../assets/img/feature.png" alt="feature image" width="600" height="500">
            </figure>
        </div>
        <div class="col-md-6 col-lg-4  center d-flex flex-column justify-content-center align-items-start">
            <div class="header">
                <i class="fa fa-shield shadow mb-4 feature"></i>
                <h2 class="features-subheading display-6">Be a great Investor<br>on agriculture sector</h2>
            </div>
            <p class="my-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere minima, reiciendis illo mollitia dolores cum pariatur odio porro repudiandae dicta tempora quibusdam. Perferendis, similique blanditiis?</p>
            <button class="btn btn-light btn-lg shadow mt-1">LEARN MORE <i class="	fa fa-long-arrow-right"></i> </button>
        </div>
    </div>
</div>