.btn-employee{
    background-color: #f97e4c; 
    border-radius:50px; 
    color: white;
    font-weight: 900;
  }

  @media only screen and (max-width: 576px)
{
    .heading h2{
        font-size: 40px;
    }
}