<section class="employees" style="margin-top: 150px; margin-bottom: 50px;">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 d-flex justify-content-center flex-column align-items-center heading">
        <h2 class="font-weight-bold display-4 text-center">Give employees the<br>financial guidance</h2>
        <p style="width: 80%;text-align:center;line-height: 35px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto laborum, laudantium ab molestiae error nobis illum?</p>
        <button class="btn btn-lg btn-employee px-5 py-3 shadow mb-5">READ MORE</button>
        </div>
    </div>
        <div class="row mt-5">
            <div class="offset-lg-2 offset-xl-2 col-lg-9 col-xl-7 ">
                <div class="row shadow bg-white mx-3" style="border-radius: 25px; border: 1px solid darkgray;">
                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                        <figure class="p-3">
                            <img class="img-fluid m-3"  src="../../assets/img/feature.png" width="350">
                        </figure>
                    </div>
                    <div class="col-lg-8 mb-4">
                        <div class="d-flex my-4">
                            <img class="img-fluid" src="../../assets/img/feature.png" width="100" height="100" class="rounded-circle">
                            <div class="d-flex flex-column justify-content-center ml-3">
                                <h4 class="m-0 font-weight-bold">Madelyn Anzi</h4>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Make your own agriculture investation</h2>
                            <h6 class="mb-4 mt-3 orange">28 October 2019</h6>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi a sit deserunt nisi? Corporis temporibus fugit ipsam, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi a sit deserunt nisi? Corporis temporibus fugit ipsam, aliquid facilis porro. Blanditiis nisi quasi reprehenderit labore? </p>
                            <div class="btn orange p-0">READ MORE --></div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>




        <div class="row mt-5">
            <div class="offset-lg-2 offset-xl-3 col-lg-9 col-xl-7">
                <div class="row shadow bg-white mx-3"  style="border-radius: 25px; border: 1px solid darkgray;">
                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                        <figure class="p-3">
                            <img class="img-fluid m-3" src="../../assets/img/feature.png" width="350">
                        </figure>
                    </div>
                    <div class="col-lg-8 mb-4">
                        <div class="d-flex my-4">
                            <img class="img-fluid" src="../../assets/img/feature.png" width="100" height="100" class="rounded-circle">
                            <div class="d-flex flex-column justify-content-center ml-3">
                                <h4 class="m-0 font-weight-bold">Madelyn Anzi</h4>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Make your own agriculture investation</h2>
                            <h6 class="mb-4 mt-3 orange">28 October 2019</h6>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi a sit deserunt nisi? Corporis temporibus fugit ipsam, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi a sit deserunt nisi? Corporis temporibus fugit ipsam, aliquid facilis porro. Blanditiis nisi quasi reprehenderit labore? </p>
                            <div class="btn orange p-0">READ MORE --></div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>



        <div class="row mt-5">
            <div class="offset-lg-2 offset-xl-2 col-lg-9 col-xl-7">
                <div class="row shadow bg-white mx-3" style="border-radius: 25px; border: 1px solid darkgray;">
                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                        <figure class="p-3">
                            <img class="img-fluid m-3" src="../../assets/img/feature.png" width="350">
                        </figure>
                    </div>
                    <div class="col-lg-8 mb-4">
                        <div class="d-flex my-4">
                            <img class="img-fluid" src="../../assets/img/feature.png" width="100" height="100" class="rounded-circle">
                            <div class="d-flex flex-column justify-content-center ml-3">
                                <h4 class="m-0 font-weight-bold">Madelyn Anzi</h4>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Make your own agriculture investation</h2>
                            <h6 class="mb-4 mt-3 orange">28 October 2019</h6>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi a sit deserunt nisi? Corporis temporibus fugit ipsam, Lorem ipsum,Corporis temporibus fugit ipsam, Lorem ipsum,</p>
                            <div class="btn orange p-0">READ MORE --></div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>


</section>