/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 0;
}

body p{
    color: 	#99a0a5;
    line-height: 1.8rem;
}

h2{
    line-height: 1.8rem;
    font-weight: 900;
}

.orange{
    color:#f97e4c;
}
